doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="format-detaction", content="telephone=no, address=no, email=no")

        title 힐탑학원 관리자
        link(rel="stylesheet", href="/css/main.css")

        script(crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js" async defer) 
        script(src="/js/app.js" defer)

    body#body

        -
            var menus = [
                {
                    name: '공지사항',
                    path: '/html/admin/notice.html',
                    class: 'active',
                },
                {
                    name: '힐탑일정',
                    path: '/html/admin/schedule.html',
                },
                {
                    name: '강사채용',
                    path: '/html/admin/employ.html',
                },
                {
                    name: '초등사관',
                    path: '/html/admin/elementary.html',
                },
                {
                    name: '중등관',
                    path: '/html/admin/middle.html',
                },
                {
                    name: '고등관',
                    path: '/html/admin/high.html',
                },
                {
                    name: '회원관리',
                    path: '/html/admin/member.html',
                },
                {
                    name: 'SNS관리',
                    path: '/html/admin/sns.html',
                },
            ]

        main#admin
            nav
                .mobile
                    a(href="/index.html")
                        figure
                            img(src="/assets/images/logo_main.png", alt="")
                            figcaption 힐탑학원
                    .menu
                        - for(var i = 0; i < 9; i++)
                            div
                    ul
                        each menu in menus
                            li
                                a(href= menu.path class= menu.class)= menu.name
                .desk
                    a(href="/index.html")
                        img(src="/assets/images/logo_desk.png", alt="")
                    ul
                        each menu in menus
                            li
                                a(href= menu.path class= menu.class)= menu.name
                a(href="/html/login/login.html")
                    p.logout 로그아웃
            .contents
                .container
                    block main