-
    var menu = [
        {
            name:'힐탑학원 소개',
            path: 'introduce.html',
            class: '',
            subMenu: {
                one: '학원소개',
                two: '내부시설',
            }
        },
        {
            name: '공지사항',
            path:'notice.html',
            class: '',
            subMenu: {
                one: '공지사항',
                two: '힐탑일정',
                three: '강사채용',
            }
        },
        {
            name:'초등사관',
            path:'public.html',
            class: '',
            subMenu: {
                one: '영어',
                two: '수학',
            }
            
        },
        {
            name:'중등관',
            path:'middle.html',
            class: '',
            subMenu: {
                one: '영어',
                two: '수학',
            }
        },
        {
            name:'고등관',
            path:'high.html',
            class: '',
            subMenu: {
                one: '영어',
                two: '수학',
            }
        },
    ]
header
    article.container.mobile
        figure
            .home
                a(href="/index.html")
                    img(src="/assets/images/logo_main.png", alt="hilltop logo")
                    span 힐탑학원
        nav
            ul
                each m in menu
                    li(class=`${m.class}`)= m.name
                        div
                            p= m.subMenu.one
                            p= m.subMenu.two
                            p= m.subMenu.three
        .hamburger.hamburger--squeeze.js-hamburger
            .hamburger-box
                .hamburger-inner
    article.container.desk
        figure
            .wrap
                .home
                    a(href="/index.html")
                        img(src="/assets/images/logo_desk.png", alt="hilltop logo")
                .sns-icons-wrap
                    a(href="").instagram
                        img(src="/assets/images/devicons/instagram.png" alt="instagram logo")
                    a(href="").youtube
                        img(src="/assets/images/devicons/youtube.png" alt="youtube logo")
        nav
            .main
                ul
                    each m in menu
                        li.reveal(class=`${m.class}`)= m.name
            .sub
                .container
                    each sub in menu
                        .wrap
                            p=sub.subMenu.one
                            p=sub.subMenu.two
                            p=sub.subMenu.three